@{
    ViewData["Title"] = "Проблеми з видаленням туриста";
}

<div class="text-center">
    <h1 class="display-4">Ви не можете видалити цього туриста</h1>
    <h1>Ви маєте посилання на цього туриста в його ваучерах.</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div>
    <a asp-area="" asp-controller="Tourists" asp-action="Index">Назад до таблиці туристів</a>
</div>