@{
    ViewData["Title"] = "Проблеми з видаленням туру";
}

<div class="text-center">
    <h1 class="display-4">Ви не можете видалити цей тур</h1>
    <h1>Ви маєте посилання на цей тур в його етапах або ваучерах.</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div>
    <a asp-area="" asp-controller="Tours" asp-action="Index">Назад до таблиці турів</a>
</div>